{{#isHeaderParam}}@Header("{{baseName}}") {{#removeMinusTextInHeaderProperty}}{{#lambda.removeMinusText}}{{paramName}}{{/lambda.removeMinusText}}{{/removeMinusTextInHeaderProperty}}{{^removeMinusTextInHeaderProperty}}{{paramName}}{{/removeMinusTextInHeaderProperty}}: {{{dataType}}}{{/isHeaderParam}}