{{#parent}}: {{{parent}}}{{/parent}}{{^serializableModel}}{{#parcelizeModels}}{{#parent}},{{/parent}}{{^parent}}:{{/parent}} Parcelable{{/parcelizeModels}}{{/serializableModel}}{{^parcelizeModels}}{{#serializableModel}}{{#parent}},{{/parent}}{{^parent}}:{{/parent}} Serializable{{/serializableModel}}{{/parcelizeModels}}{{#parcelizeModels}}{{#serializableModel}}{{#parent}},{{/parent}}{{^parent}}:{{/parent}} Parcelable, Serializable{{/serializableModel}}{{/parcelizeModels}}