{{#isHeaderParam}}@Header("{{baseName}}") {{#removeMinusTextInHeaderProperty}}{{#lambda.removeMinusText}}{{paramName}}{{/lambda.removeMinusText}}{{/removeMinusTextInHeaderProperty}}{{^removeMinusTextInHeaderProperty}}{{paramName}}{{/removeMinusTextInHeaderProperty}}: {{{dataType}}}{{#required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{/required}}{{^required}}?{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^defaultValue}} = null{{/defaultValue}}{{/required}}{{/isHeaderParam}}